@media (max-width: 900px) {
    .controlContent{
        display: flex;
        flex-direction: column;
    }

    .controlContent .mb-3{
        max-width: 100px;
    }
    
    .sideBar{
        max-width: 20%;
    }
  }